.formContainer {
    background-color: #f0f0f0;
    padding: 0 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formContainer form div {
    margin-bottom: 15px;
}
.formContainer label {
    display: block;
    margin-bottom: 5px;
}
.formContainer input[type="text"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgba(96, 114, 122, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formContainer input[type="file"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.formContainer select{
    width: 40%;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid rgba(96, 114, 122, 0.25);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formContainer .buttons {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
}

.formHeader {
    text-align: center;
    padding-top: 20px;
    font-family: "Fredoka One";
    font-weight: 200;
    letter-spacing: 1px;
    color: rgb(150, 166, 232);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.gradeLevelContainer {
    display: flex;
    justify-content: space-between;
}

.gradeLevelContainer div {
    flex: 1;
    margin-right: 10px;
}

.gradeLevelContainer div:last-child {
    margin-right: 0;
}